*{
  margin: 3px;
  padding: 7px;
  font-family: Century Gothic;
}

header{
  background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgb(0, 0, 0, 0.5)), url(soc.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

ul{
  float:left;
  list-style-type: none;
  margin-top: 25px;
}
ul li{
   display: inline-block ;
}
ul li a{
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    border:1px solid transparent;
    transition: 0.6s ease;
}
ul li a:hover{
background-color:white;
color: black;
}

.logo img{
  float:right;
  width: 150px; height: 50px;
}
. main{
  max-width: 1200px;
  margin: auto;
}
.title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.title h1{
  color: white;
  font-size: 60px;
}
.button{
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.title .btn{
  border: 1px solid rgb(255, 255, 255);
  padding: 5px 10px;
  text-decoration: none;
  transition: 0.6s ease;
}
 .title .btn:hover{
    background-color: white;
    color: rgb(0, 0, 0);
  }

.body{
  background-color: rgb(130, 236, 255);
    color:rgb(55, 49, 49);
    font: normal 16px Arial, Helvetica, sans-serif;
    /*font-family: ; Helvetica, sans-serif;*/
    font-size:16px;
    line-height: 1.6em;
    margin: 0;
  }

/* FOOTER */
.footer {
  background:rgb(44, 36, 33);
  color: rgb(255, 254, 254);
  height: 750px;
  position: relative;
}

.footer .footer-content {
  border: 1px solid rgb(66, 65, 65);
  height: 350px;
}

.footer .footer-bottom {
  background: rgb(82, 38, 38);
  color: rgb(38, 20, 20);
  height: 40px;
  width: 1279px;
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-top: 10px;
}

.footer .footer-bottom .submit .btn{
  border: 1px solid rgb(51, 51, 51);
  padding: 5px 15px;
  text-decoration: none;
  transition: 0.6s ease;
  }
  .footer .footer-bottom .btn:hover{
      background-color: none;
      color: black;
    }
    